* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.form {
  height: 80px;
  background-color:  #32d30e;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  display: flex;
  margin-bottom: 30px;
}
.input {
  height: 30px;
  width: 400px;
  border-radius: 7px 0px 0px 7px;
  padding: 15px;
  color: rgb(255, 255, 255);
  background-color: blue;
}
.button {
  border-radius: 0px 7px 7px 0px;
}
