.list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.cart {
  width: 200px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow:
    0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.conteiner {
  padding: 10px;
}
.actor {
  font-style: normal;
  font-weight: 500;
  line-height: 1, 2;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
